@model IEnumerable<ICI.ProvaCandidato.Web.Models.Noticia>

@{
    ViewData["Title"] = "Noticia";
}

<h1>Noticia</h1>

<p>
    <a asp-action="Create">Criar Nova Noticia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoticiaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.NoticiaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.NoticiaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
