@model ICI.ProvaCandidato.Web.Models.NoticiaTag

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Tag de Noticias</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tag.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tag.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Noticia.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Noticia.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Noticia.Texto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Noticia.Texto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Noticia.Usuario.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Noticia.Usuario.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NoticiaTagId">Editar Vinculo</a> |
    <a asp-controller="Noticias" asp-action="Edit" asp-route-id="@Model.NoticiaId">Editar Noticia</a> |
    <a asp-action="Index">Voltar</a>
</div>